body {
    font-family: Arial;
}
ul, li {
	list-style: none;
}
p:hover ,a:hover {
    color: yellow;
}
#menu_ul {
	float: right;
}
#navbar_menu {
    background-color: #01a8df;
    border-color: #01a8df;
    margin-bottom: 0px;
    border-radius: 0px;
}
#menu_ul a {
    color: white;
}
.input_menu {
	float: right;
}
.select_menu {
	float: right;
	margin-right: 20px;
	border: none;
	height: 17px;
}
.top_header {
	height: 30px;
    position: relative;
    background-color: #f7fafb;
}
.select_menu {
    background: rgba(1, 0, 0, 0) url("../image/eng.png") no-repeat scroll 0 0;
    border: medium none;
    float: right;
    margin-right: 20px;
    padding-left: 27px;
    margin-top: 4px;
}
.menu_bar {
    margin-bottom: 0px;
}
.input_menu {
    background: rgba(0, 0, 0, 0) url("../image/search.png") no-repeat scroll 0 0;
    border: medium none;
    float: right;
    padding-left: 20px;
    height: 16px;
    margin-top: 4px;
}
#button_menu {
	border: 2px solid white;
}
.img_logo {
    margin-bottom: -73px;
    margin-top: -42px;
}
.logo {
    position: absolute;
    z-index: 2;
    top: 31px;
    left: 94px;
}
.content_center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
.content_main {
    width: 100%;
    position: relative;
    height: auto;
    background-image: url(../image/bg-body.png);
    background-size: 100% 100%;
}
.order_room {
	background-color: rgba(255, 255, 255, 0.65);
    border-radius: 5px;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 10px;
}
.order1 {
	float: left;
	margin-bottom: 10px;
}
.order2 {
	float: right;
}
.order3 {
	float: left;
    text-align: center;
}
.order4 {
	float: right;
    text-align: center;
}
.order1 input {
	border: 1px solid gray;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.61) url("../image/calender.png") no-repeat scroll 146px 50%;
    background-color: rgba(255, 255, 255, 0.61);
    height: 30px;}
.order2 input {
	border: 1px solid gray;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0) url(../image/calender.png) no-repeat scroll 146px 50%;
    background-color: rgba(255, 255, 255, 0.61);
    height: 30px;
}
.order3 select {
	border: 1px solid gray;
    border-radius: 7px;
    height: 28px;
    width: 173px;
    background-color: rgba(255, 255, 255, 0.69);
}
.order4 select {
	border: 1px solid gray;
    border-radius: 7px;
    height: 28px;
    width: 173px;
    background-color: rgba(255, 255, 255, 0.69);
}
.order5 {
	text-align: center;
}
.order5 button {
	margin-top: 15px;
}
.title_order {
	font-size: 19px;
    font-weight: bold;
}
.pic_under {
  	text-align: center;
    position: absolute;
    bottom: 10px;
}
.img_under {
    max-width: 100%;
    height: auto;

}
.div_img {
	float: left;
}
.w3-display-bottommiddle.w3-container > p {
    width: 230px;
}
.img_link {
    border-left: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 5px;
}
.link_mxh.row.container {
    padding-top: 20px;
    margin-right: 0px;
}
.link_mxh {
    padding-top: 6px;
}

.footer_up {
 	background-color: #01a8df;
    color: white;
    padding-bottom: 3px;
    padding-top: 20px;
}
.hotel {
	
}
.accomdation {
	padding-left: 3%;
}
.service {
   padding-left: 3%;
}
.contactus {
   padding-left: 3%;
}
.menu {
   
}
.footer_title.service.col-sm-2 {
    padding-left: 5%;
}
.footer_title.accomdation.col-sm-2 {
    padding-left: 4%;
}
.footer_title.contactus.col-sm-3, .footer_title.menu.col-sm-2 {
    padding-left: 5%;
}

.copy_right {
    
    padding-top: 6px;
}
.copy_left {
    float: left;
    margin-right: 84px;
    padding-top: 8px;
    margin-left: 52px;
}
.copy_right > img {
    padding-left: 10px;
    padding-right: 10px;
}
@media only screen and (max-width: 770px) {
    ul , h4.p_title {
       text-align: center;
    }
    .ul_li {
        display: none;
    }
}
@media only screen and (max-width: 769px) {
    .logo .img_max{
       display: none;
    }
}
@media (min-width: 770px){
    .logo .img_min{
        display: none;
    }
    span.caret-booking {
        display: none;
    }
}
@media only screen and (max-width: 330px) {
    .logo .img_min{
        margin-left: -30px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 767px) {
   ul#menu_ul{
        padding-right: 135px;  
          }
}
@media only screen and (max-width: 1300px) and (min-width: 1221px) {
   ul li:last-child, #menu_7{
        display: none;
    }
}
@media only screen and (max-width: 1221px) and (min-width: 1000px) {
    #menu_8, #menu_7, #menu_6, #menu_5{
        display: none;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 800px) {
    #menu_8, #menu_7, #menu_6 ,#menu_5 ,  #menu_4, #menu_3{
        display: none;
    }
}
@media only screen and (max-width: 820px) and (min-width: 760px) {
    #menu_8, #menu_7, #menu_6 ,#menu_5, #menu_4, #menu_3, #menu_2{
        display: none;
    }
}
.img_logo.img-rensponsive.img_min {
    height: 55px;
  }
@media only screen and (max-width: 768px) {
    .order_room{
        display: none;
    }
}
@media (min-width: 769px){
    .form_min{
        display: none;
    }
}
.btn.btn-default.form_min {
    position: absolute;
    right: 66px;
    top: 10px;
}
@media only screen and (max-width: 800px) {
    .div_img p{
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    #menu_ul li:nth-child(old) {
        display: none;
    }
}
.navbar-nav > li > a {
    text-transform: uppercase;
}
.navbar-nav > li:hover {
    border-bottom: 2px solid white;
}
.message {
    background: rgba(0, 0, 0, 0) url(../image/icon-letter.png) no-repeat scroll left center;
    box-shadow: 1px 4px 1px #888888;
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: #157294;
    width: 219px;
}
p.click_mess {
    cursor: pointer;
}
@media only screen and (max-width: 770px) {
    .footer_title.hotel.col-xs-2 {
        margin-left: 56px;
    }
}
.message > p {
    font-weight: bold;
    margin-left: 40px;
    margin-top: 7px;
}
.bottom {
    
}
.p1 , .p2 , .p3 ,.p4 {
    background: rgba(0, 0, 0, 0) url("../image/house.png") no-repeat scroll 0 center;
    padding-left: 18px;
}
@media only screen and (max-width: 770px) {
    .menu_search {
        float: left;
    }
    .input_menu {
        margin-right: -77px;
    }
}
.order3.col-sm-6 > select {
    text-align: center;
}
.order4.col-sm-6 > select {
    text-align: center;
}
.img_background {
    width: 100%;
}
.form_message {
    border: 1px solid #157294;
    margin-left: 24px;
    position: absolute;
    margin-top: -241px;
    padding-bottom: 55px;
    color: black;
    text-align: center;
    border-radius: 9px 10px 0px 0px;
    display: none;
    padding-bottom: 20px;
    right: 0;
    background-color: rgb(21, 114, 148);
    width: 219px;
}
input[type="type"] {
    margin-left: 20px;
    margin-right: 20px;
}
.form_message form label {
    display: block;
}
.mess_sumbit {
    margin-top: 10px;
}
ul.dropdown-menu {
    background-color: #01a8df;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    border-radius: 0px 0px 7px 7px;
    margin-top: 2px;
}
a#acount:hover,a#acount ,a#acount:focus{
    background-color: #01a8df;
}
li:hover {
    background-color: #01a8df;
}
ul.dropdown-menu li {
    border-bottom: 1px solid white;
}
ul.dropdown-menu li:last-child {
    border-bottom: none;
}
input[type="date"] {
    width: 100%;
}
#menu_ul li a {
    font-size: 90%;
}
.login_form {
    border: 1px solid rgb(21, 114, 148);
    position: absolute;
    margin-top: 65px;
    color: black;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    display: none; 
    z-index: 2;
    padding-bottom: 20px;
    right: 0;
    background-color: rgb(21, 114, 148);
    width: 219px;
}
.login_form h4 {
    color: #fcf8e3;
    text-transform: uppercase;
}
input[type="submit"] {
    margin-top: 10px;
    background-color: #01a8df;
}
.caret-inner {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-bottom-color: #157294;
    border-top: 9px solid transparent;
    position: absolute;
    top: -18px;
    left: 86px;
    display: inline-block;
    margin-left: -1px;
}
.caret-booking {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-bottom-color: rgba(255, 255, 255, 0.65);
    border-top: 9px solid transparent;
    position: absolute;
    top: -18px;
    display: inline-block;
    margin-left: -1px;
    right: 82px;
}
.booking_main {
    padding-bottom: 3%;
}
.booking.container {
    border: 1px solid rgba(128, 128, 128, 0.33);
    background-color: white;
    margin-top: 5%;
    border: 2px solid rgba(1, 168, 223, 0.4);
    padding-bottom: 5%;
}
.booking.container h3 {
    text-align: center;
}
input[type="submit"] {
    cursor: pointer;
}

.booking h3 {
    color: rgb(1, 168, 223);
}
.send_sm {
    padding: 10px 20px 10px 20px;
}
.re_sm {
    padding: 10px 17px 10px 17px;
}
/*active menu*/
li#acti {
    border-bottom: 2px solid white;
}
.left {
    float: left;
    width: 45%;
}
.right {
    float: right;
    width: 45%;
}
.row.form-group.send {
    text-align: center;
    clear: both;
}
.control-label {
    font-size: 13px;
}
@media only screen and (max-width: 425px) {
   .left,.right {
    width: 100%;
   }
}
/*Checkout*/
.checkout.container {
    width: 70%;
    background-color: white;
    margin-top: 5%;
    padding-bottom: 3%;
    border: 2px solid rgba(1, 168, 223, 0.4);
}
.checkout h3 {
    color: #01a8df;
    text-align: center;
}
.checkout h4 {
    text-align: center;
    color: #057c05;
}
.checkout_main {
    padding-bottom: 3%;
}
.search_sm {
    margin-top: 10px;
    background-color: #23a242;
    padding: 10px 20px 10px 20px;
}
/*font-text*/
.ul_li li,.copy_left p {
    font-family: Arial;
    font-size: 12px;
}
.p_title {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
}